@import '../../../../Assets/theme/_var.scss';

.MyAssets {
    .table-responsive {
        @include theme() {
            background-color: theme-get('commonCardBg');
            border-radius: 0.8rem;
        }
    }

    .CustomTable {
        tbody {
            tr {
                td {
                    font-weight: 400;
                    padding: 1.34rem 2.4rem;
                    font-size: 1.6rem;
                    line-height: 2.4rem;

                    @media (max-width: 1279px) {
                        font-size: 1.4rem;
                    }

                    @media (max-width: 991px) {
                        padding: 1rem 1.8rem;
                    }

                    @media (max-width:767px) {
                        padding: 1rem 1.6rem;
                    }

                    &.value_box {
                        h4 {
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                            font-weight: 400;

                            @media (max-width: 1279px) {
                                font-size: 1.4rem;
                            }

                            @media (max-width: 767px) {
                                font-size: 1.2rem;
                            }
                        }

                        h3 {
                            display: flex;
                            align-items: center;
                            padding-top: 0.4rem;
                            font-size: 1.4rem;
                            line-height: 2.1rem;
                            font-weight: 400;

                            @include theme() {
                                color: theme-get('whatsHotPercentage');
                            }

                            @media (max-width: 767px) {
                                font-size: 1.2rem;
                            }

                            span {
                                margin-right: 0.8rem;
                            }
                        }
                    }

                    .tradeBtn {
                        padding: 0;
                        text-align: center;
                        width: 9.5rem;
                        max-width: 9.5rem;
                    }

                    .change {
                        border-radius: 0.4rem;
                        padding: 0.2rem 0.8rem;
                        font-size: 1.4rem;
                        font-weight: 400;
                        white-space: nowrap;

                        @media (max-width: 767px) {
                            font-size: 1.2rem;
                        }

                        @include theme() {
                            background-color: theme-get('baseClr');
                        }
                    }
                }
            }
        }
    }
}