@import '../../../../Assets/theme/_var.scss';

.TradeProHeader {
    font-family: $baseFont2;
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    margin: 5.2rem 0 3.2rem;

    @include theme() {
        background-color: theme-get('commonCardBg');
    }

    .TradeProfHeaderMain {
        padding: 2.4rem 1.6rem;
        position: relative;

        @include theme() {
            border-right: 1px solid theme-get('authBg');
        }

        @media (max-width: 1279px) {
            padding: 2rem 1.6rem;
        }

        @media (max-width: 1023px) {
            padding: 1.6rem;
        }

        @media (max-width: 767px) {
            font-size: 1.4rem;
        }

        h4 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 2.42rem;
            cursor: pointer;
            display: flex;
            align-items: center;

            svg {
                margin-left: 1.8rem;
            }

            @media (max-width: 1279px) {
                font-size: 1.8rem;
            }

            @media (max-width: 1023px) {
                font-size: 1.6rem;
            }

            @media (max-width: 767px) {
                font-size: 1.4rem;
            }
        }

        .searchSymbols {
            max-width: 51.7rem;
            width: 100vw;
            padding: 1.6rem;

            @include theme() {
                background-color: rgba(theme-get('authBg'), 0.2);
            }

            backdrop-filter: blur(1.25rem);
            border-radius: 0.8rem;
            position: absolute;
            top: 100%;
            left: 0;

            input {
                &::placeholder {
                    @include theme() {
                        color: theme-get("whiteClr");
                    }
                }

                @include theme() {
                    background-color: theme-get('tokenSelect');
                }
            }

            table {
                font-family: $baseFont;

                thead {
                    tr {
                        th {
                            @include theme() {
                                color: theme-get('theadClr');
                            }

                            font-weight: 400;
                            padding: 0.95rem 0.8rem;

                            &:first-child {
                                padding-left: 0;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            padding: 0.95rem 0.8rem;

                            @include theme() {
                                color: theme-get('theadClr');
                            }

                            font-weight: 500;

                            span {
                                color: inherit;
                            }

                            &:first-child {
                                padding-left: 0;
                            }

                            .symbol {
                                @include theme() {
                                    color: theme-get('whiteClr');
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .TradeProfHeaderSec {
        padding: 2.4rem 1.6rem;

        @media (max-width: 1279px) {
            padding: 2rem 1.6rem;
        }

        @media (max-width: 1023px) {
            padding: 1.6rem;
        }

        @media (max-width: 767px) {
            font-size: 1.4rem;
        }

        h5 {
            font-size: 2rem;
            line-height: 2.42rem;
            font-weight: 600;

            @media (max-width: 1279px) {
                font-size: 1.8rem;
            }

            @media (max-width: 1023px) {
                font-size: 1.6rem;
            }

            @media (max-width : 767px) {
                font-size: 1.4rem;
            }
        }
    }

    span {
        @include theme() {
            &.green {
                color: theme-get('greenClr') !important;
            }

            &.red {
                color: theme-get('redClr') !important;
            }

            &.yellow {
                color: theme-get('yellowClr') !important;
            }
        }
    }

    ul {
        flex: 1 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.6rem;
        max-width: 100%;

        li {
            h6 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.452rem;
                color: #b6b3c9;
            }

            p {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 1.6rem;
                margin-top: 0.4rem;
            }
        }
    }

    @media (max-width: 1199px) {
        flex-wrap: wrap;

        ul {
            flex: 0 0 100%;
            padding: 1rem 1.6rem;
        }
    }

    @media (max-width: 1023px) {
        ul {
            flex-wrap: wrap;
            justify-content: flex-start;

            li {
                flex: 0 0 25%;
                padding: 1rem 0;
            }
        }
    }

    @media (max-width: 767px) {
        ul {

            li {
                flex: 0 0 33%;
            }
        }
    }

    @media (max-width: 575px) {
        ul {
            li {
                flex: 0 0 50%;
            }
        }
    }

    @media (max-width: 389px) {
        ul {
            li {
                flex: 0 0 100%;
            }
        }
    }
}