@import "../../../../Assets/theme/_var.scss";

.history_modal {
  .modal-dialog {
    max-width: 72rem;

    .modal-content {
      border-radius: 0.8rem;

      @include theme() {
        border: 1px solid theme-get("newsCardBorder");
      }

      .modal-header {
        padding: 1.6rem 2.5rem;

        @include theme() {
          border-bottom: 1px solid rgba(theme-get("whiteClr"), 0.1);
        }
      }

      .modal-body {
        padding: 0;
        .table-responsive {
          max-height: 400px;
        }
        .CustomTable {
          margin-bottom: 0;

          thead {
            position: sticky;
            top: 0;
            tr {
              th {
                @include theme() {
                  background-color: theme-get("connectModalRight");
                }
              }
            }
          }

          tbody {
            tr {
              td {
                padding: 3rem 2.4rem;
                font-weight: 400;
                line-height: 1.6rem;
                background: transparent;

                @media (max-width: 1279px) {
                  padding: 2.4rem 2rem;
                }

                @media (max-width: 767px) {
                  padding: 2rem 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
